*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.font-open-sans{
font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
}
header{
    padding-top: 16px;
    /* background-image: url("assets/hero-bg.png") */
    /* background: url(assets/hero-bg.png); */
}

nav{
    width: 1360px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
nav .logo{
        width: 139px;
}

nav .menu ul{
    display: flex;
    gap:32px;
    align-items: center;
    list-style-type: none;
}
nav .menu a{
    font-size: 16px;
    text-decoration: none;
    color: black;
}
nav button{
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    background-color: #469165;
    color: white;
    border: none;
}
#banner{
    /* border: 1px solid green; */
    background: url("assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.banner-container{
    /* border: 1px solid red; */
    width: 1360px;
    margin: 0px auto;
    padding: 115px 120px 263px 120px;
    text-align: center;
}
.banner-container .btn-banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-container .btn-1{
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    border: none;
    color: #469165;
    margin-bottom: 16px;
    gap: 6px;
    cursor: pointer;
}
.banner-container .banner-title{
    margin-bottom: 16px;
}
.banner-container .banner-title h1{
    font-size: 72px;
    color: white;
}
.banner-container .para{
    margin-bottom:32px;
    color: white;
}
.banner-container .banner-btn{
    display: flex;
    justify-content: center;
    gap:16px;
}
.banner-container .banner-btn button{
    padding: 16px;
    border-radius: 4px;
    color: white;
    
}
.banner-in1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #30B868;
    border: none;
}
.banner-in2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background:transparent;
    border: 1px solid white;
}


.card-container{
    width: 1360px;
    margin: 0px auto;
    text-align: center;
    padding-top: 40px;
}
.card-container div{
    margin-bottom: 44px;
}
.card-container h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.card-container p{
    font-size: 16px;
    color: #627382;
}

.card-container .card-info{
    display: flex;
    justify-content: space-between;
}
.card-container .card-info .c{
    width: 322px;
    padding: 70px 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.13);

}

.card-container .card-info .c .card-img{
    background-color: #F95555;
    padding: 14px;
    border-radius: 50%;
    margin-bottom: 16px;
}
.card-container .card-info .c h2{
    font-size: 24px;
    font-weight: 600px;
    color:#001931;
    margin-bottom: 16px;
}
.card-container .card-info .c p{
    font-size: 16px;
    line-height: 20px;
}

.solution-container{
    width: 1360px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
}

.solution-container .sol-info h4{
    font-size: 16px;
    color:#30B868;
    margin-bottom: 16px;
    font-weight: normal;
}
.solution-container .sol-info h1{
    font-size: 48px;
    font-weight: bold;
    color:#001931;
    margin-bottom: 16px;
}
.solution-container .sol-info p{
    font-size: 16px;
    line-height: 20px;
    color:#627382;
    margin-bottom: 40px;
}

.solution-container .sol-info ul li{
    display: flex;
    list-style-type: none;
    align-items: center;
    margin-bottom: 16px;
}
.solution-container .sol-info ul li div{
    font-size: 16px;
    color: #001931;
    font-weight:500;
}
#access{
    margin-top:120px;
}

.access-container{
    width: 1360px;
    margin: 0px auto;
    background-color: #F7F6F2;
    padding: 80px 40px;
    text-align: center;
}
.access-container h1{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.access-container p{
    font-size: 16px;
    line-height: 24px;
    color:#627382;
    margin-bottom: 24px;
}
.access-container button{
    text-align: center;
    padding: 16px;
    background-color:#30B868;
    border-radius: 4px;
    box-shadow: 0px 10px 20px 0px; 
    border: none;
    color: white;
    margin-bottom: 16px;
    cursor: pointer;
    
    
}
.access-container button .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:10px;
}

footer{
    background-color:#001931;
    margin-top: 120px;
    padding: 120px 120px 30px 120px;
}
.footer-container{
    width: 1360px;
    margin: 0px auto;
}
.footer-container .foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 84px;
}
.footer-container .foot div{
    color: white;
}
.footer-container .foot h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}

 .icons i{

    background-color: white;
    color: black;
    border-radius: 50%;
    padding: 2px;
    margin-right: 12px;
    cursor: pointer;

}


.footer-container h4{
    text-align: center;
    padding-top:30px;
    font-size: 16px;
    color: white;
    font-weight:normal;
}








